[Unit]
Description=Hello OpenBMC Meson Demo
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/hello
Restart=on-failure

[Install]
WantedBy=multi-user.target